Для предобработки табличных данных воспользуемся библиотекой panddas

Требуется импортировать библиотеку

In [6]:
import pandas as pd

В нашем уроке воспользуемся тестовыми данными

In [7]:
df = pd.DataFrame([[18, 160, "1"], [19, 170, "2"], [20, 175, None], [21, 170, "4"], [22, 160, "5x"]])
df

    0    1     2
0  18  160     1
1  19  170     2
2  20  175  None
3  21  170     4
4  22  160    5x

Переименуем колонки, чтобы в дальнейшем с ними было удобнее работать

In [8]:
col_name = ['age', "height", "num"]
df.set_axis(col_name, axis = 'columns', inplace = True)

Для удаления строк у которых отсутствует хотя бы одно значение воспользуемся методом dropna. Стоит обратить внимание что вызов данного метода никак не изменяет на df поэтому здесь мы увидим результат, но не сохраним его

In [9]:
df.dropna()

   age  height num
0   18     160   1
1   19     170   2
3   21     170   4
4   22     160  5x

Если требуется удалить строки в которых отсутствуют конкретные значения, можно воспользоваться аргументом subset

In [10]:
df.dropna(subset=['height'], inplace=True)
df

   age  height   num
0   18     160     1
1   19     170     2
2   20     175  None
3   21     170     4
4   22     160    5x

Рассмотрим тип колонки num. Как видно ее тип object, так как существуют строки которые невозможно привести к числовому типу

In [ ]:
df['num']

0       1
1       2
2    None
3       4
4      5x
Name: num, dtype: object

Чтобы поменять тип воспользуемся методом astype

In [ ]:
df['num'].astype('int64')

TypeError: ignored

Получим ошибку. Для того чтобы исправить ее, требуется удалить None и не числовые строки из выборки.

In [11]:
df = df[df['num'].isnull() != True]
df

   age  height num
0   18     160   1
1   19     170   2
3   21     170   4
4   22     160  5x

In [12]:
df = df[pd.to_numeric(df['num'], errors='coerce').notnull()]
df

   age  height num
0   18     160   1
1   19     170   2
3   21     170   4

In [13]:
df = df.astype({'num': 'int32'})
df

   age  height  num
0   18     160    1
1   19     170    2
3   21     170    4

Также если в колонке с числовыми значениями пропущено какое-то значение, одним из стандартных приемов является заменение null на среднее по этой колонке:

In [16]:
df.iloc[0] = [18, None, 1]
df

   age  height  num
0   18     NaN    1
1   19   170.0    2
3   21   170.0    4

In [17]:
df.fillna(df.mean())

   age  height  num
0   18   170.0    1
1   19   170.0    2
3   21   170.0    4

Ревью Стоцкий Олег: добавил пункт про заполнение пропущенных значений средними